# Environment & local config
.env
application-local.properties

# Compiled output
target/
out/
*.class

# IDE files
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# Logs
logs/
*.log

# OS metadata
.DS_Store
Thumbs.db

# Maven / Gradle
build/
.gradle/
gradle-app.setting
!gradle-wrapper.jar

# Node (if using frontend)
node_modules/